.logos {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
  .logos a {
    text-decoration: none;
  }
  .logos h3 {
    text-align: center;
}
  .logos .flipCard {
    perspective: 1000;
    cursor: pointer;
  }
  .logos .flipCard h3 {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}
  .logos .card {
    padding: 12px;
}
  .logos .flipCard:hover .flipper,
  .logos flipCard.hover .flipper {
    transform: rotateY(180deg);
  }
  .logos .flipper,
  .logos .front,
  .logos .back {
    height: 250px;
    width: 250px;
}
  @media (min-width: 640px) {
    .logos .flipper,
  .logos .front,
  .logos .back {
        height: 300px;
        width: 300px;
    }
}
  @media (min-width: 768px) {
    .logos.cols-3 .flipper,
    .logos.cols-3 .front,
    .logos.cols-3 .back {
        height: 350px;
        width: 350px;
    }
    .logos.cols-3 h3 {
        max-width: 350px;
    }
    .logos.cols-6 .flipper,
    .logos.cols-6 .front,
    .logos.cols-6 .back {
        height: 191px;
        width: 191px;
    }
}
  .logos.cols-6 h3 {
    overflow-wrap: break-word;
}
  @media (min-width: 768px) {
    .logos.cols-6 h3 {
        max-width: 191px;
    }
}
  .logos .flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
  }
  .logos .front,
  .logos .back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
  }
  .logos .front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  .logos .back {
    transform: rotateY(180deg);
  }
