/* Menu */
.menu-item a {
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
.menu-item.in-footer {
margin-bottom: 0.25rem;
font-size: 0.875rem;
}
.menu-item.in-footer a {
font-weight: 400;
}
.menu-item.in-footer a:hover {
--tw-text-opacity: 1;
color: rgb(210 69 30 / var(--tw-text-opacity));
}
.menu-item.in-header {
padding-top: 9px;
font-size: 0.875rem;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.1em;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
transition-duration: 500ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1023px) {
.menu-item.in-header .sub-menu {
margin-top: 0.75rem;
margin-bottom: 0.75rem;
padding-left: 1.25rem;
}
        .menu-item.in-header .sub-menu .menu-item {
padding-top: 0.5rem;
padding-bottom: 0.5rem;
font-size: 0.75rem;
}
      }
@media (min-width: 1024px) {
.menu-item.in-header .sub-menu {
visibility: hidden;
position: absolute;
z-index: 50;
margin-left: -5rem;
--tw-translate-y: -10px;
transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
--tw-bg-opacity: 1;
background-color: rgb(0 0 0 / var(--tw-bg-opacity));
padding-left: 1.25rem;
padding-right: 1.25rem;
padding-top: 10px;
padding-bottom: 1.25rem;
opacity: 0;
}
@media (min-width: 1280px) {
.menu-item.in-header .sub-menu {
margin-left: -1.25rem;
}
}
          .menu-item.in-header .sub-menu li:hover a {
--tw-text-opacity: 1;
color: rgb(210 69 30 / var(--tw-text-opacity));
}
      }
.menu-item.in-header:hover .sub-menu {
visibility: visible;
--tw-translate-y: 0px;
transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
opacity: 1;
transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
transition-duration: 500ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item.not-sub-menu.in-header {
      /* Mobile */
      border-bottom-width: 1px;
      border-style: dashed;
      --tw-border-opacity: 1;
      border-bottom-color: rgb(75 85 99 / var(--tw-border-opacity));
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
.menu-item.not-sub-menu.in-header:last-child {
border-bottom-width: 0px;
}
@media (min-width: 1024px) {
.menu-item.not-sub-menu.in-header {
border-bottom-width: 0px;
}
}
.menu-item.not-sub-menu.in-header {
      /* Desktop */
    }
@media (min-width: 1024px) {
.menu-item.not-sub-menu.in-header {
border-top-width: 2px;
border-style: solid;
--tw-border-opacity: 1;
border-top-color: rgb(255 255 255 / var(--tw-border-opacity));
padding-right: 1rem;
}
.menu-item.not-sub-menu.in-header:last-child {
padding-right: 0px;
}
.menu-item.not-sub-menu.in-header:hover {
--tw-border-opacity: 1;
border-color: rgb(210 69 30 / var(--tw-border-opacity));
}
}
.menu-item.not-sub-menu.in-header:has(.active) {
        /* Desktop */
      }
@media (min-width: 1024px) {
.menu-item.not-sub-menu.in-header:has(.active) {
--tw-border-opacity: 1;
border-color: rgb(210 69 30 / var(--tw-border-opacity));
}
}
