@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "logo-styles.css";
@import "two-cols-styles.css";
@import "contract-styles.css";
@import "content-styles.css";
@import "menu-styles.css";
@import "hero-styles.css";

@layer base {
  html {
    @apply font-body text-text;
  }
  p {
    @apply text-sm leading-body;
  }
  a {
    @apply no-underline transition duration-500 ease-in-out text-primary;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply uppercase font-heading leading-heading text-primary;
  }
  h1 {
    @apply text-['29px'] md:text-2xl leading-[1.13] mt-2 mb-5;
  }
  h2 {
    @apply mt-2 text-l md:text-xl;
  }
  h3 {
    @apply mt-3 text-base md:text-l;
    &.footer-headline {
      @apply !text-white text-base font-normal capitalize mb-3;
    }
  }
  h4 {
    @apply text-sm md:text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply mb-2 text-xs text-lightGrey;
  }
}
@layer components {
  /* Light */
  .home-leds {
    @apply md:w-[80%] w-[100%] lg:w-[60%] absolute top-0 right-0 z-0;
    svg {
      @apply opacity-60;
    }
  }
  .triangle {
    background: url("/images/triangle.svg") no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  /* Breadcrumbs */
  .breadcrumbs {
    @apply uppercase text-[12px] font-bold tracking-wider transition duration-300;
    @apply pt-10;
    a {
      @apply text-black hover:text-primary;
    }
    .active {
      @apply text-primary;
    }
    .bc-sep {
      @apply mx-1;
    }
    &.dark-bg {
      @apply pt-6 text-white;
      a {
        @apply text-white;
      }
      .bc-sep {
        @apply text-white;
      }
    }
  }
}

@layer utilities {
  .center-container {
    @apply container mx-auto px-7 xl:px-0 max-w-[1150px];
  }
  .sublinedTitle {
    @apply text-l md:text-xl border-t-4 border-primary pt-[5px] inline-block text-black;
  }
}
.headroom-wrapper {
  max-height: 135px;
}
