@layer components {
  .hero {
    @apply relative bg-black;
    .hero-container {
      @apply relative;
    }
    .intro-container {
      @apply max-w-[986px] mx-auto pt-[100px] pb-[180px] px-7 xl:px-0;
    }
    .page-intro {
      @apply lg:pb-[120px];
    }
    .lights {
      @apply absolute z-0 w-full pointer-events-none opacity-70;
      @apply bottom-5 md:bottom-[-20px] lg:bottom-0;
      @apply min-[1600px]:bottom-[-150px] min-[1900px]:hidden;
    }

    .triangle {
      background: url("/images/triangle.svg") no-repeat;
      background-size: cover;
      height: 300px;
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
