.two-cols {
  .title {
    @apply mb-10 text-center;
  }
  .cols-container {
    @apply container justify-center mx-auto space-y-6 lg:grid lg:grid-cols-2 lg:space-y-0;
  }
  &.history {
    @apply bg-black py-[70px];
    p {
      @apply text-white;
    }
    .cols-container {
      @apply max-w-[1170px] gap-14;
    }
  }
  &.benefits {
    .cols-container {
      @apply max-w-[850px] gap-8 mt-10 lg:mt-20 mb-8 lg:mb-16 text-base font-semibold;
    }
    .col {
      .red {
        @apply font-bold uppercase text-primary;
      }
      p,
      li {
        @apply leading-normal mb-9;
      }
      ul {
        @apply mb-0 ml-0;
      }
      li {
        @apply relative list-none;
        &:before {
          content: "";
          background: url("/images/check.svg") no-repeat;
          width: 28px;
          height: 26px;
          position: absolute;
          left: -35px;
          top: 0;
        }
      }
    }
  }
}
